<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Prime Data Result</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link data-th-href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <link data-th-href="@{/css/main.css}" rel="stylesheet">
</head>
<body>
<div class="container">
    <h1>Result</h1>
    <div th:each="part : ${response}">
        <p th:text="'input: ' + ${part.input}"/>
        <p th:text="'result: ' + ${part.result}"/>
    </div>
    <a href="/prime">Input anothre data</a>
</div>
</body>
</html>


































