<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link data-th-href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <link data-th-href="@{/css/main.css}" rel="stylesheet">
</head>
<body>
<div class="container">
    <div class="row">
        <div id="title">
            <h1>Sample Prime Data For Your Reference</h1>
        </div>
        <table class="table table-striped">
            <thead>
            <tr>
                <th width="45%">Input Integer</th>
                <th>Result</th>
            </tr>
            </thead>
            <tbody>
            <tr class="result" data-th-each="prime : ${primes}">
                <td>[[${prime.input}]]</td>
                <td>[[${prime.result }]]</td>
            </tr>
            </tbody>
        </table>
    </div>
    <br />
    <div>

     <h2> <a href="/prime">Please Input Your Own Integer</a> </h2>
    </div>
</div>
</body>
</html>